.ScrollContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: auto;
  overflow-y: overlay;
}

.ScrollArea {
  display: flex;
  justify-content: end;
  flex-direction: column;
  min-height: 100%;
}
